<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>SafeExchange Data - {SECRETNAME}</title>
  <meta name="description" content="The SafeExchange for secret {SECRETNAME}">
  <meta name="author" content="SafeExchange">
  <style>
    .center-children {
      text-align: center;
      margin: 10pt;
    }
  </style>

  <script>
    let dataResult = {DATAOBJECT};

    window.onload = init;

    function init() {
      document.getElementById("data").value = dataResult.secret;
    }
  </script>
</head>

<body>
    <table style="width:100%">
        <tr>
            <div class="center-children">
                <textarea name="data" id="data" rows="32" cols="120"></textarea>
            </div>
        </tr>
    </table>
    
</body>
</html>