<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f5fb4670-5cc6-4391-8132-36a5c97ac3b2/resourceGroups/safeexchange/providers/Microsoft.Web/sites/safeexchange-backend</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://safeexchange-backend.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://safeexchange-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$safeexchange-backend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>